<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery | Portafolio anhy</title>

    <!-- --------- Scroll Reveal Library --------- -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- --------- Swiper Library --------- -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

    <!-- --------- Unicons Icons --------- -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- --------- CSS Files --------- -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <%- include('templates/nav'); %>

    <main>
        

        <!-- --------- Portfolio Section --------- -->

        <section class="portfolio section">
            <div class="modal">
                <div class="modal-overlay"></div>
                <div class="slider-wrap">
                    <div class="prev-btn navigation">
                        <i class="uil uil-angle-left-b"></i>
                    </div>
                    <div class="images">
                        <img class="showImage" src="img/port1.jpg">
                        <img src="img/port2.png">
                        <img src="img/port3.jpg">
                        <img src="img/port4.png">
                        <img src="img/port5.png">
                        <img src="img/port6.jpg">
                    </div>
                    <div class="next-btn navigation">
                        <i class="uil uil-angle-right-b"></i>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="portfolio-header">
                    <div class="portfolio-title">
                        <h3 class="sub-heading">Portfolio</h3>
                        <h1 class="heading">Proyectos Realizados</h1>
                    </div>
                    <div class="filter-btns">
                        <button class="filter-btn" data-filter="all">Todo</button>
                        <button class="filter-btn" data-filter=".product">Producto</button>
                        <button class="filter-btn" data-filter=".inter">Interactivos</button>
                        <button class="filter-btn" data-filter=".web">Web App</button>
                    </div>
                </div>

                <div class="portfolio-gallery">
                    <div class="mix prt-card inter">
                        <div class="prt-image">
                            <img src="./img/port1.jpg" alt="">
                            <div class="prt-overlay">
                                <span class="prt-icon zoom-icon" style="--i: 0s">
                                    <i class="uil uil-search-plus"></i>
                                </span>
                                <a href="#" class="prt-icon" style="--i: 0.15s">
                                    <i class="uil uil-link-h"></i>
                                </a>
                            </div>
                        </div>
                        <div class="prt-desc">
                            <h3>Sistema de ventas con Laravel</h3>
                            <a href="*" class="btn secondary-btn sm">Leer mas</a>

                        </div>
                    </div>
                    <div class="mix prt-card product">
                        <div class="prt-image">
                            <img src="./img/port2.png" alt="">
                            <div class="prt-overlay">
                                <span class="prt-icon zoom-icon" style="--i: 0s">
                                    <i class="uil uil-search-plus"></i>
                                </span>
                                <a href="#" class="prt-icon" style="--i: 0.15s">
                                    <i class="uil uil-link-h"></i>
                                </a>
                            </div>
                        </div>
                        <div class="prt-desc">
                            <h3>Consultorio</h3>
                            <a href="*" class="btn secondary-btn sm">Leer mas</a>

                        </div>
                    </div>
                    <div class="mix prt-card web">
                        <div class="prt-image">
                            <img src="./img/port3.jpg" alt="">
                            <div class="prt-overlay">
                                <span class="prt-icon zoom-icon" style="--i: 0s">
                                    <i class="uil uil-search-plus"></i>
                                </span>
                                <a href="#" class="prt-icon" style="--i: 0.15s">
                                    <i class="uil uil-link-h"></i>
                                </a>
                            </div>
                        </div>
                        <div class="prt-desc">
                            <h3>Api rest con React</h3>
                            <a href="*" class="btn secondary-btn sm">Leer mas</a>

                        </div>
                    </div>
                    <div class="mix prt-card web">
                        <div class="prt-image">
                            <img src="./img/port4.png" alt="">
                            <div class="prt-overlay">
                                <span class="prt-icon zoom-icon" style="--i: 0s">
                                    <i class="uil uil-search-plus"></i>
                                </span>
                                <a href="#" class="prt-icon" style="--i: 0.15s">
                                    <i class="uil uil-link-h"></i>
                                </a>
                            </div>
                        </div>
                        <div class="prt-desc">
                            <h3>Back-end con Express</h3>
                            <a href="*" class="btn secondary-btn sm">Leer mas</a>
                        </div>

                    </div>
                    <div class="mix prt-card inter">
                        <div class="prt-image">
                            <img src="./img/port5.png" alt="">
                            <div class="prt-overlay">
                                <span class="prt-icon zoom-icon" style="--i: 0s">
                                    <i class="uil uil-search-plus"></i>
                                </span>
                                <a href="#" class="prt-icon" style="--i: 0.15s">
                                    <i class="uil uil-link-h"></i>
                                </a>
                            </div>
                        </div>
                        <div class="prt-desc">
                            <h3>Validaciones con JavaScript</h3>
                            <a href="*" class="btn secondary-btn sm">Leer mas</a>

                        </div>
                    </div>
                    <div class="mix prt-card web">
                        <div class="prt-image">
                            <img src="./img/port6.jpg" alt="">
                            <div class="prt-overlay">
                                <span class="prt-icon zoom-icon" style="--i: 0s">
                                    <i class="uil uil-search-plus"></i>
                                </span>
                                <a href="#" class="prt-icon" style="--i: .15s">
                                    <i class="uil uil-link-h"></i>
                                </a>
                            </div>
                        </div>
                        <div class="prt-desc">
                            <h3>Gestor de Matriculas</h3>
                            <a href="*" class="btn secondary-btn sm">Leer mas</a>

                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>
    <!-- --------- Footer --------- -->
    <%- include('templates/footer'); %>

    <!-- JavaScript Files -->

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>