<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    <div class="contact section">
        <img src="./img/triangle.png" class="shape triangle">
        <div class="container">
            <img src="./img/square2.png" class="shape square">
            <div class="contact-info">
                <h3 class="sub-heading">Contactame</h3>
                <h1 class="heading">Trabajemos Juntos</h1>
                <p class="text"><%= descContact %> </p>
                <a href="mailto:yoangieepinillaa@gmail.com" class="mail">
                    yoangieepinillaa@gmail.com <i class="uil uil-arrow-right"></i>
                </a>
            </div>
            <form action="index.html" class="contact-form">
                <h3>Envia un mensaje</h3>
                <input type="text" class="form-input" placeholder="Tu nombre" required>
                <input type="email" class="form-input" placeholder="Tu Email" required>
                <textarea name="" id="" cols="30" rows="10" class="form-input" placeholder="Detalles del proyecto"
                    required></textarea>
                <input type="submit" value="Enviar" class="btn">
            </form>
        </div>
    </div>
    
</body>
</html>