<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery | Portafolio anhy</title>

    
</head>

<body>

    <!-- --------- Footer --------- -->
    <footer>

        <div class="container">
            <a href="#" class="logo">Portaf<span>olio.</span></a>
            <p class="text">&copy; Copyright 2022. All rights reserved</p>
            <ul class="social-media">
                <li>
                    <a href="#" class="social-link">
                        <i class="uil uil-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="social-link">
                        <i class="uil uil-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="social-link">
                        <i class="uil uil-dribbble"></i>
                    </a>
                </li>
            </ul>
        </div>

    </footer>

    <!-- JavaScript Files -->

</body>

</html>