<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title></title>
</head>
<body>

    <header>
        <!-- --------- Navbar --------- -->
        <nav class="container">
            <a href="#" class="logo">Portaf<span>olio.</span></a>
            <div class="links">
                <ul>
                    <li>
                        <a href="/" class="nav-link">Inicio</a>
                    </li>
                    <li>
                        <a href="/info" class="nav-link">Habilidades</a>
                    </li>
                    <li>
                        <a href="/port" class="nav-link">Portafolio</a>
                    </li>
                    
                </ul>
                <i class="uil uil-moon toggle-btn"></i>
            </div>
        </nav>
    </header>

  
    
</body>
</html>